{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Stock Predictor</h1>
    <p class="lead">Predict stock prices using sentiment analysis from news articles.</p>
    <hr class="my-4">
    <p>Use the navigation bar to train or test the model, or view generated images.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('train') }}" role="button">Train Model</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('test') }}" role="button">Test Model</a>
</div>
{% endblock %}